.nav{
    width: 98.9vw;
    height: 4rem;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.left{
    width: 20vw;
    display: flex;
    color: white;
    margin-left: 4rem;
}
.right{
    width: 25vw;
}
.logoimg{
    width: 2.5rem;
    height: 2rem;
    margin-right: 15px;
}

.navh2{
    font-weight: 400;
}
.btn{
    background-color: #1a1a1a;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 10rem;
    height: 2rem;
    font-size: 17px;
}